/* Global */
* {
	padding: 0em;
	margin: 0em;
}

html {
	width: 100%;
}

body {
	width: 100%;
	background: #000 url(images/woodbg.jpg) repeat-x fixed;
	font-family: tahoma, helvetica, sans-serif;
	font-size: 8pt;
	color: #FFFFFF;
}

/* Common elements */

a {
	color: #acacac;
	text-decoration: none;
	border: none;
}
a:hover {
	text-decoration: none;
	color: #FFFFFF;
}

a.similar_artist {
	background-color: #444444;
	display: block;
	padding: 1px 4px;
	color: #FFF;
	border: 1px solid #fff;
}

a.similar_artist:hover {
	background-color: #555;
}

.similar_artist_header {
	color: #FFF;
	background-color: #666;
	border: 1px solid #fff;
	padding: 3px 5px;
}

h1,h2,h3,h4 {
	margin: 5px 0px;
}

h2 {
	text-align: center;
	color: #BBBBBB;
}

h4 {
	font-size: 8pt;
}

p {
	margin: 10px 5px;
	color: #6e6e6e;
}

li {
	margin: 5px 15px;
	color: #bebebe;
}

span.stat {
	color: #BBBBBB;
}

input {
	padding: 2px 3px;
	border: 1px solid rgba(255,255,255,0.26);
	background-color: rgba(255,255,255,0.08);
	color: #747474;
}

textarea {
	padding: 2px 3px;
}

textarea#quickpost {
	background-color: rgba(255,255,255,0.7);
	margin: 0px;
	margin-bottom: 10px;
	color: #060606;
}


img {
	border: none;
}

/* Ratio Colors */

.r00 { color: red; }
.r01 { color: #FF1300; }
.r02 { color: #FF1300; }
.r03 { color: #FF2600; }
.r04 { color: #FF4C00; }
.r05 { color: #FF5E00; }
.r06 { color: #FF5E00; }
.r07 { color: #FF7100; }
.r08 { color: #FF9700; }
.r09 { color: #FFAA00; }
.r10 { color: #74C42E; }
.r20 { color: #418B00; }
.r50 { color: #418B00; }
.r99 { color: #418B00; }

/* Styles generated by the BBCode parser */

span.size1 { font-size:0.75em; }
span.size2 { font-size:1em; }
span.size3 { font-size:1.25em; }
span.size4 { font-size:1.5em; }
span.size5 { font-size:1.75em; }
span.size6 { font-size:2em; }
span.size7 { font-size:2.25em; }
span.size8 { font-size:2.5em; }
span.size9 { font-size:2.75em; }
span.size10 { font-size:3em; }

ul.thin { margin:0px 0px 0px 25px; padding:0px; }
ul.thin li { margin:0px 0px; padding:0px; }

/* Layout (Every page) */

#header {
	width: 100%;
	min-width:740px;
	padding: 0px 0 0 0;
	margin-bottom: 15px;
	background: none;
	
}

#content {
	width: 94%;
	min-width:740px;
	background: rgba(0,0,0,0.32);
	margin: 0px auto 0px auto;
	padding: 0.6em;
	border-left: 1px solid rgba(45,45,45,0.34);
	border-right: 1px solid rgba(45,45,45,0.34);
	border-top: 1px solid rgba(45,45,45,0.34);
	border-bottom: rgba(19,19,19,0.34);
	overflow: hidden;
}

#footer {
	margin-top: 40px;
	width: 100%;
	text-align: center;
	color: #424242;
	padding: 1em 0;
	border-top: 0px solid black;
}

#logo {
	width: 23%;
	height: 75px;
	background: url('images/whatlogo.png') no-repeat center center;
	position: absolute;
	left: 0px;
}

#logo a {
	border: none;
	width: 100%;
	height: 60px;
	display: block;
}

#logo a:hover {
	border: none;
}

#menu {
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 0px;
	height: 47px;
	text-align: center;
	font-size: 9pt;
	padding-top: 28px;
}

#menu ul li {
	margin: 0px;
	display: inline;
	margin-top: 0.8em;
}

#menu ul li a {
	padding: 0.6%;
	color: #BBBBBB;
	z-index: 1;
	position: relative;
}
#menu ul li a:hover {
	outline: none;
	color: #fff;
}

#userinfo {
	float: right;
	text-align: right;
	color: #BBBBBB;
	padding: 5px 15px 5px 0px;
	position: absolute;
	right: 0px;
	font-size: 6.5pt !important;
}

#userinfo img {
	margin-top: -5px;
}

#userinfo ul li {
	position: relative;
	display: inline;
	margin: 0 0.1em;
	line-height: 20px;
	vertical-align: middle;
	padding: 0px;
}

#userinfo a, #userinfo a:visited {
	color: #BBBBBB;
}
#userinfo a:hover {
	text-decoration: none;
	color: #fff;
}

#userinfo_username {
	display:inline;
	margin-right: 10px;
}

#userinfo_major {
	display:inline;
	clear: right;
}

#userinfo_username .brackets:before {
	content: "[";
}

#userinfo_username .brackets:after {
	content: "]";
}

#userinfo_major .brackets:before {
	font-weight: bold;
}

#userinfo_major .brackets:after {
	font-weight: bold;
}

#searchbars {
	padding: 4px 0px 4px 0px;
	height: 15px;
	background: rgba(0,0,0,0.32);
	border-bottom: 1px solid;
	text-align: center;
	border-top: 1px solid;
	border-color: rgba(45,45,45,0.34);
}

#searchbars form {
	display: inline;
}

#searchbars input {
	background-color: rgba(19,19,19,0.66);
	border: 1px solid rgba(47,47,47,0.8);
	font-size: 0.9em;
	color: #bdbdbd;
	position: relative;
	top: -1px;
}

#searchbars ul li {
	margin: 0px;
	display: inline;
}

#searchbars input:hover {
	background: rgba(19,19,19,0.96);
}

li.searchbars {
	font-size: 11px;
	float: left;
	margin: 16px 0px 12px 25px;
}

.alertbar {
	padding: 3px 0px 2px 0px;
	background-color: rgba(255,0,0,0.32);
	text-align: center;
	color: #ECDEDE;
	font-weight: bold;
	margin-bottom: 3px;
}
.alertbar a {
	color: #BBBBBB;
	text-decoration: none;
}
.alertbar a:hover {
	color: #FFF;
	text-decoration: none;
}

.blend {
	background: rgba(0,0,0,0.32);
}

/* IE doesn't appear to like a simple display:none in our header. Random things start fucking up pretty badly. */
.hidden {
	position: absolute;
	left: -10000px;
}

input.hidden {
	position: absolute;
	display: none;
}

/* Layout (Any page) */


.thin {
	width: 850px;
	margin-left:auto;
	margin-right:auto;
}

div.linkbox {
	text-align:center;
	padding: 5px;
}

.center {
	text-align: center;
}

.right {
	text-align: right;	
}

.min_padding {
	padding: 0px;
	margin: 0px 0px;
}

p.min_padding {
	margin: 2px 0px;
}

.pad {
	padding: 1em;
	color: #bebebe;
	background-color: none;
}

.vertical_space {
	margin-bottom: 10px;
}

.box {
	font-size: 8pt;
	background-color: rgba(7,14,21,0.58);
	border: 1px solid #292929;
}

.pad h3, .pad h4, .padbox h3, .padbox h4 {
	margin-top: 0px;
	padding-top: 0px;
}

.sidebar {
	float: right;
	width: 250px;
	height: 100%;
}

.sidebar .box {
	margin: 0px 5px 10px 5px;
}

.head {
	padding: 4px;
	background: url('images/glassbar.png') repeat-x;
	border-bottom: 1px solid #555555;
	color: #090909;
}

.body {
	padding: 3px 10px 10px 10px;
}

.main_column {
	margin: 0px 255px 10px 0px;
	width: 590px;
}

.main_column .box, .main_column table {
	margin-bottom: 10px;
}

.tags {
	padding: 0px 0px 0px 20px;
	font-style: italic;
}

.tags a {
	color: #C9C9C9;
}

.tags a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

.noborder {
	border: none;
}

ul.nobullet {
	list-style-type: none;
}

table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #555555;
}

tr {
	background: rgba(7,14,21,0.58);
}

input#file{
	color: #5a5a5a;
}

tr.rowa {
	background: rgba(7,14,21,0.58);
}

tr.rowb {
	background: rgba(7,14,21,0.58);
}

td {
	border: 1px solid #555555;
	padding: 5px;
	text-align: left;
	color: #fff;
	background: none;
}

.colhead {
	background: url('images/colhead.png');
	font-weight: bold;
	color: #000;
}

td.colhead, .colhead td {
	padding-left: 10px;
	padding-right: 10px;
	color: #000;
}

.colhead .sign, .colhead_dark .sign {
	padding: 0px 8px 0px 8px;
	font-size: 12pt;
	font-weight: bold;
	vertical-align: middle;
}

.colhead_dark {
	background: url('images/glassbardark.png');
	color: #090909;
}

.colhead_dark a {
	color: #090909;
	font-weight: bold;
}

.colhead_dark a:hover {
	color: #FFFFFF;
	font-weight: bold;
}

td.label {
	font-weight: bold;
	text-align: right;
	width: 180px;
}

table.slice {
	margin-top: -1px;
}

.error_message {
	border-top: 1px solid #555555;
	padding: 3px 0px 3px 0px;
	background-color: rgba(255,0,0,0.61);
	text-align: center;
	color: white;
	font-weight: bold;
}

.save_message {
	padding: 3px 0px 3px 0px;
	background-color: rgba(255,252,0,0.61);
	text-align: center;
	color: #000;
	font-weight: bold;
}

.elem_error {
	border: 3px solid #B00D0D;
}

.hide {
	display:none;	
}

/* Layout (home page) */

ul.stats li {
	padding: 0px 0px 1px 0px;
}

ul.poll li {
	padding: 0px 0px 0px 10px;
	margin: 0px;
}

ul.poll li.graph {
	margin-bottom: 3px;
	padding-left: 20px;
}

/* Layout (Torrents page) */

.show_torrents {
	width: 28px;
	height: 28px;
	background: url('images/show.png') no-repeat center center;
}

.hide_torrents {
	width: 28px;
	height: 28px;
	background: url('images/hide.png') no-repeat center center;
}

.show_torrents_link {
	border: medium none;
	width: 28px;
	height: 28px;
	display: block;
}

.filter_torrents {
	width:750px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:15px;
}

.filter_torrents .submit {
	text-align:right;
	padding-top:5px;
}

.filter_torrents .inputtext {
	width:400px;	
}

.filter_torrents .smaller {
	width:300px;	
}

.filter_torrents .smallest {
	width:50px;	
}

.filter_torrents option {
	padding-right:8px;
}

.cat_list {
	border: medium none;
	margin-top: -1px;	
}

.cat_list tr td {
	border: medium none;
}

.select_container {
	margin:5px;	
}

.torrent_table tr {
	vertical-align:top;
}

.group {
	font-weight:bold;
	background-color: rgba(7,14,21,0.58);
}
.group_torrent {
	background-color: rgba(7,14,21,0.47);
}
.group_torrent span {
	float:right;
}

.torrent {
	font-weight:bold;
	background-color: rgba(7,14,21,0.58);
}
.torrent span {
	font-weight:normal;
	float:right;
}

.torrent_table div.tags {
	font-weight:normal;
}

.torrent_table tr .center {
	vertical-align:middle;
	text-align:center;
}

.torrent_table td .cats_col {
	border: medium none !important;
	border-right: medium none !important;
}

.torrent_table td .small {
	width:20px;
}

.torrent_table a img {
	border:none;
}

.torrent_table table {
	width:94%;
	margin: 10px;
}

.torrent_table table .colhead_dark {
	background-image: none;
	background-color: #333333;
}

.nobr {
	white-space:nowrap;
}

.advanced_search {
	text-align:right;
	padding-bottom:5px;
}

/* Layout (Forums) */

table.forum_post {
	margin: 10px 0px;
}

table.forum_post td {
	border: 1px solid #555555;
}

table.forum_unread {
	border: 2px solid #CCC;
}

td.avatar {
	width: 150px;
	padding: 0px;
}

table.forum_post td.body {
	width:690px;
}

blockquote {
	margin: 10px;
	padding: 10px;
	border: 1px dashed #555555;
	color: #d8d8d8;
}
tr.unreadpm {
	font-size: 14pt;
	padding: 5px;
	background: #f2f2f2;
}
tr.unreadpm strong a:before {
	content: "?";
}

/* Layout (Inbox) */

tr.unreadpm {
	background-color: #ECC;
}

/* Layout (Permission Page) */

.permission_head {
	width:400px;
	margin-left:auto;
	margin-right:auto;
}

.permissions {
	width:930px;
	margin-left:auto;
	margin-right:auto;
}

.permission_container {
	float:left;
	width:300px;
	padding:5px;
}
.permission_container input {
	margin:0px 3px 5px 0px;
	vertical-align:top;
}

.submit_container {
	clear:both;
	text-align:right;
}

/* Layout (Invite tree) */

ul .invitetree {
	margin: 0px 0px 0px 25px;
}

.invitetree li {
	list-style: none;
	margin: 10px 2px;
}

/* Layout (MISC) */

#left_poll {
	width: 2px;
	height: 9px;
	background: url('images/bar_left.png') no-repeat center center;
	float: left;
	margin: 0px;
	padding: 0px;
}

#center_poll {
	height: 9px;
	background: url('images/bar.png') repeat;
	float: left;
	margin: 0px;
	padding: 0px;
}

#right_poll {
	width: 2px;
	height: 9px;
	background: url('images/bar_right.png') no-repeat center center;
	float: left;
	margin: 0px;
	padding: 0px;
}

.curtain {
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

.lightbox {
	display: none;
	position: fixed;
	text-align: center;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	padding: 0px;
	z-index:1002;
	overflow: auto;
}

.signature { margin: 2em 0 0 0; padding: .5em 0 0 0; border-top: 1px dotted #666; }

.unread_locked_sticky{background: url('images/stickyunread_locked.png') no-repeat center center;}
.read_locked_sticky{background: url('images/stickyread_locked.png') no-repeat center center;}
.read_sticky{background: url('images/sticky_read.png') no-repeat center center;}
.unread_sticky{background: url('images/sticky_unread.png') no-repeat center center;}
.unread_locked{background: url('images/forumunread_locked.png') no-repeat center center;}
.read_locked{background: url('images/forumread_locked.png') no-repeat center center;}
.unread{background: url('images/forumunread.png') no-repeat center center;}
.read{background: url('images/forumread.png') no-repeat center center;}

.last_read {
	background: url(./images/go_last_read.png) no-repeat center center;
	width: 15px;
	height: 11px;
	margin-top: 1px;
	margin-left: 2px;
}
.last_read a {
	display: block;
	width: 15px;
	height: 11px;
	margin-top: 1px;
	margin-left: 2px;
}

ul + br + ul {
	margin-top: -20px
}

.unread_locked_sticky,
.read_locked_sticky,
.read_sticky,
.unread_sticky,
.unread_locked,
.read_locked,
.unread,
.read {
  padding:0 0 0 30px !important;
}

text[class*="chart"] {
	color: #69b6cb;
	fill: #69b6cb;
	fill-opacity: 85%
}

g:nth-child(even) [class*="chart-color"] {
	stroke: #666;
	opacity: 60%;
}

g:nth-child(odd) [class*="chart-color"] {
	stroke: #c0c0c0;
	opacity: 60%
}

.bar-segment {
	fill: #69b6cb;
	opacity: 80%;
}

.bar-value {
	fill: #666;
}

[class*="chart-color"] {
	stroke: #69b6cb;
	opacity: 80%;
}

#userinfo_stats {
	/*! padding-top:15px; */
}

#stats_leeching a {
	visibility: hidden;
	font-size: 0;
	
}

#stats_leeching a:after {
	content: "D";
	visibility:visible;
	font-size: 6.5pt;
}

#stats_seeding a {
	visibility: hidden;
	font-size: 0;
	
}

#stats_seeding a:after {
	content: "U";
	visibility:visible;
	font-size: 6.5pt;
}

#stats_required a {
	visibility: hidden;
	font-size: 0;
	
}

#stats_required a:after {
	content: "/";
	visibility:visible;
	font-size: 6.5pt;
}

#stats_required {
	color: transparent;
}

.stat {
	visbility:visible;
	font-size:6.5pt;
}

.autocomplete-suggestion {
	color:#666;
}

.autocomplete-suggestions {
	margin-top: 5px;
  background: #181b1f;
  overflow: auto;
  opacity: 95%;
}

select {
	background-color: #181b1f;
	color: #acacac;
	border: 1px solid #666;
}

form textarea, form input {
	background-color: rgba(255,255,255,0.08);
}